.main-wrapper {
	
    box-sizing: border-box;
    background-color: rgb(223, 222, 217);
}

.page-title {
	text-align: center;
    color: white;
    background-color: black;
}

.registration-form {
	width: 800px;
  margin: auto;
}